<html>
<head>
<title>Factura</title>
</head>
<body>
	<table border="1">
	 <thead>
		<tr>
			<th colspan = "12"><strong>PERFILAC</strong></td>
		</tr>
		<tr>
			<td colspan = "12"><strong>ACREDOR o SUMINISTRADOR:</strong></td>
		</tr>
		<tr>
			<td colspan = "7">GRUPO EMPRESARIAL DE LA CONST. HOLGUÍN. </td>
			<td colspan = "3">&nbsp;</td>
			<td colspan = "2" rowspan = "5"><strong>LOGO</strong></td>
		</tr>
		<tr>
			<td colspan = "7">EMP CONSTRUCTORA DE OBRAS INDUSTRIALES No.9  ( CONAM) </td>
			<td colspan = "3">&nbsp;</td>
		</tr>
		<tr>
			<td>Dirección: </td>			
			<td colspan = "9">Calle Garayalde e/Progreso y Paz. Holguín </td>
		</tr>
		<tr>
			<td>Teléfonos:</td>
			<td colspan = "9">48-1459</td>
		</tr>		
		<tr>
			<td>Email:</td>
			<td colspan = "9">ealfonso@uci.cu</td>
		</tr>
		<tr>
			<td>Cuenta CUP:</td>
			<td colspan = "6">EES ECOI No. 9 HOLGUIN.</td>
			<td colspan = "5">0669201304200016</td>
		</tr>
		<tr>
			<td>Cuenta CUC:</td>
			<td colspan = "6">UOG GRUPO EMPRESARIAL DE LA CONSTRUCCION HOLGUÍN.</td>
			<td colspan = "5">0669201319124320</td>
		</tr>
		<tr>
			<td>Código: </td>
			<td colspan = "2">(REEUP) 126-0-2893</td>
			<td>Código NIT: </td>
			<td colspan = "2">01001112737</td>
			<td colspan = "6" rowspan = "2"><strong>FACTURA</strong></td>
		</tr>
		<tr>
			<td colspan = "2">Sucursal de crédito:</td>
			<td colspan = "4">6921</td>
		</tr>
	 </thead>
	 <tfoot>
		<tr>
			<td colspan ="12"><strong>NOTA:</strong></td>
		</tr>	 
		<tr>
			<td colspan ="12">NUESTRAS FICHAS DE COSTOS SE ESTÁN REHACIENDO, POR LO QUE DE EXISTIR VARIACIÓN EN LOS PRECIOS, SE LE COMUNICARÁ A TIEMPO PARA QUE LA DIFERENCIA UD LA PAGUE EN EL MOMENTO DE RECOGIDA Y FIRMA DE LA FACTURA.<br/> POR LA MOLESTIA CAUSADA LE ROGAMOS NOS DISCULPE.</td>
		</tr>
	 </tfoot>
	 <tbody>
		<tr>
			<td colspan = "7" rowspan="2"><strong>DEUDOR o RECEPTOR:</strong></td>
			<td colspan = "3"><strong>FECHA DE EMISIÓN:</strong></td>
			<td colspan = "2">16/02/2014</td>
		</tr>
		<tr>
			<td colspan = "3"><strong>NÚMERO DE FACTURA:</strong></td>
			<td colspan = "2">2462</td>
		</tr>
		<tr>
			<td colspan = "12">GRUPO EMPRESARIAL DE LA CONST. HOLGUÍN. </td>
		</tr>
		<tr>
			<td>Dirección: </td>			
			<td colspan = "11">Calle Garayalde e/Progreso y Paz. Holguín </td>
		</tr>
		<tr>
			<td>Teléfonos:</td>
			<td colspan = "11">48-1459</td>
		</tr>		
		<tr>
			<td>Email:</td>
			<td colspan = "11">ealfonso@uci.cu</td>
		</tr>
		<tr>
			<td>Cuenta CUP:</td>
			<td colspan = "11">0669201304200016</td>
		</tr>
		<tr>
			<td>Cuenta CUC:</td>
			<td colspan = "11">0669201319124320</td>
		</tr>
		<tr>
			<td>Código: </td>
			<td colspan = "5">(REEUP) 126-0-2893</td>
			<td>Código NIT: </td>
			<td colspan = "5">01001112737</td>
		</tr>
		<tr>
			<td>CONTRATO No.</td>
			<td colspan = "5"> CA ___/09</td>
			<td>Suplemento No.</td>
			<td colspan = "5">&nbsp;</td>
		</tr>
		<tr>
			<td>Obra:</td>
			<td colspan = "11">&nbsp;</td>
		</tr>	 
	 </tbody>
	 <tbody>
		<tr>
			<td><strong>CÓDIGO </strong></td>
			<td><strong>FICHA</strong></td>
			<td><strong>DESCRIPCIÓN </strong></td>
			<td><strong>ANCHO</strong></td>
			<td><strong>ALTO</strong></td>
			<td><strong>m2</strong></td>
			<td><strong>U/M</strong></td>
			<td><strong>CANT</strong></td>
			<td><strong>PRECIO CUC</strong></td>
			<td><strong>IMPORTE CUC</strong></td>
			<td><strong>PRECIO CUP</strong></td>
			<td><strong>IMPORTE CUP</strong></td>
		</tr>
		<tr>
			<td>478.3.03C301 </td>
			<td>14</td>
			<td>Ventana Miami 3 Secciones c/Tablillas de Aluminio Lacado Blanco c/Cierre de Palanca </td>
			<td>1960</td>
			<td>1260</td>
			<td>4.92</td>
			<td>U</td>
			<td>2</td>
			<td>102.25</td>
			<td>100.50</td>
			<td>52.00</td>
			<td>63.00</td>
		</tr>
		<tr>
			<td COLSPAN="2">&nbsp;</td>
			<td><strong>VALOR  EN CUC Y EN CUP</strong></td>
			<td  COLSPAN="6">&nbsp;</td>
			<td>52.00</td>
			<td>&nbsp;</td>
			<td>63.00</td>
		</tr>
		<tr>
			<td COLSPAN="2">&nbsp;</td>
			<td><strong>TOTAL</strong></td>
			<td><strong>M2</strong></td>
			<td COLSPAN="2">5.30</td>
			<td><strong>CANT</strong></td>
			<td COLSPAN="2">3</td>
			<td><strong>IMPORTE</strong></td>
			<td COLSPAN="2">63.00</td>
		</tr>
		</tbody>
	</table>
</body>
</html>