{% extends 'PerfilacBundle::index.html.twig' %}
{% block title %}Modificar Suministrador{% endblock %}
{% block body %}
    <form id="formModificarSuministrador" method="post" action="{{ path('suministradorActualizar', {'id':suministrador.id}) }}" class="ganar_form_basico">
        <fieldset>
            <legend>Modificar Suministrador</legend>
            <div class="ganar_form_par">
                <label for="inp_nombre"> Nombre </label> <br />
                <input type="text" size="70" name="inp_nombre" id="inp_nombre" maxlength="200" alt="input para el nombre" required tabindex="1" title="Debe insertar el nombre" placeholder="nombre" accesskey="n" value="{{ suministrador.nombre }}"/> <br />
            </div>
            <div class="ganar_form_boton">
                <input type="submit" name="enviar" value="Enviar" accesskey="e" />
                <input type="reset" name="limpiar" value="Restaurar" accesskey="l" />
            </div>
        </fieldset>

    </form>
{% endblock %}    
